/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #192d3c;
}
img{
  max-width: 100%;
}

/* Header */
.header-app{
  background: #2b3a47;
}
.header-app img{
  max-width: 70px;
  padding: 10px 10px 4px;
}

/* Main */
/* Main - music options */
.options{
  text-align: center;
  padding: 50px 0;
}
.options select{
  margin-left: 15px;
}

/* Main - album section */
.list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.list-album{
  flex-basis: 155px;
  background: #2b3a47;
  margin: 10px 11px;
  padding: 10px;
  text-align: center;
}
.list-album img{
  height: 120px;
}
.list-album .title{
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 20px;
}
.list-album .author,
.list-album .year{
  color: gray;
  margin-bottom: 15px;
}
.list-album .author{
  font-size: 18px;
}
